recipe(inventory_id), a foreign key, did not match inventory(inventory_id), the reference, violating the foreign key constraint. This was true at before this notebook was created.

The issue is that I changed inventory(inventory_id) to beginning with the string 'inv' instead of 'ing'. This change was not reflected in recipe(inventory_id)

In [17]:
# import pandas library: 
import pandas as pd

# Read in recipe.csv
df = pd.read_csv('/home/srodier/repos/jugos_rodier/csvs/recipe.csv')

df.head()

   row_id recipe_id inventory_id inventory_name  recipe_servings
0       1  01avch02        ing01          bread              1.0
1       2  01avch02        ing06        avocado              0.5
2       3  01avch02        ing05        chicken              1.5
3       4  01avch02        ing03          swiss              1.0
4       5  01avch03        ing01          bread              1.0

Preliminary Plan

- First, I am going to split the inventory_ids at the letter g and leave just the digit part. 
- Then, I'm going to use a for-loop and the .join() method to add 'inv' to the beginning of each string and rewrite each value

In [18]:
# fix inventory_id

for i in range(len(df)):
    id = df.loc[i, 'inventory_id']
    split = id.removeprefix('ing')
    df.loc[i, 'inventory_id'] = 'inv'+split


df.head()

   row_id recipe_id inventory_id inventory_name  recipe_servings
0       1  01avch02        inv01          bread              1.0
1       2  01avch02        inv06        avocado              0.5
2       3  01avch02        inv05        chicken              1.5
3       4  01avch02        inv03          swiss              1.0
4       5  01avch03        inv01          bread              1.0

In [20]:
# write to csv: 

df.to_csv("/home/srodier/repos/jugos_rodier/csvs/recipe.csv",index = False)